.header {
  height: 55px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: white;
  border-bottom: 1px solid rgb(238, 238, 238);
  z-index: 100;
}
.left-section {
  display: flex;
  align-items: center;
  width: 100px;
}
.hamburger-menu:hover{
  background: rgb(235, 235, 235);
  border-radius: 50%;
}
.hamburger-menu {
  height: 24px;
  margin-left: 24px;
  margin-right: 20px;
  padding: 8px 8px 8px;
}
.youtube-logo {
  height: 20px;
  width: 90px;
}

.middle-section {
  display: flex;
  flex: 1;
  margin-left: 74px;
  margin-right: 35px;
  max-width: 550px;
  align-items: center;
}
.search-icon-button{
  height: 41px;
  width: 65px;
  border: 1px solid;
  border-radius:  0 20px 20px 0;
  border-color: rgb(192, 192, 192);
  background: rgb(240, 240, 240);
  margin-left: -1px;
  margin-right: 10px;
}
.search-icon {
  height: 25px;
  margin-top: 4px;
}
.search-bar::placeholder {
  font-size: 14px;
}
.search-bar {
  flex: 1;
  font-size: 16px;
  height: 41px;
  border: 1px solid;
  border-color: rgb(192, 192, 192);
  border-radius: 20px 0 0 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left:  12px;
  box-shadow: inset 1px 2px 3px rgba(0, 0, 0, 0.05);
  width: 0;
}
 .search-icon-button .tool-tip,
 .voice-icon-button .tool-tip,
 .upload-icon-container .tool-tip,
 .notification-icon-container .tool-tip{
  position: absolute;
  background: rgb(192, 192, 192);
  color: white;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 4px;
  padding-right: 4px;
  white-space: nowrap;
  border-radius: 5px;
  font-size: 12px;
  bottom: -35px;
  opacity: 0;
  transition: .15s;
  pointer-events: none;
}
.search-icon-button:hover .tool-tip,
.voice-icon-button:hover .tool-tip,
.upload-icon-container:hover .tool-tip,
.notification-icon-container:hover .tool-tip{
 opacity: 1;
}
.search-icon-button,
.voice-icon-button,
.upload-icon-container,
.notification-icon-container{
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.voice-icon-button:hover{
  background: rgb(235, 235, 235);
  border-radius: 50%;
}
.voice-icon-button {
 height: 40px;
 width: 40px;
 border-radius: 20px;
 border: none;
 background: rgb(245, 245, 245);
}
.voice-icon{
  height: 24px;
}

.right-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 180px;
  margin-right: 20px;
  flex-shrink: 0;
}
.upload-icon:hover{
  background: rgb(235, 235, 235);
  border-radius: 50%;
}
.upload-icon {
  height: 24px;
  padding: 8px 8px 8px 8px;
}
.youtube-apps-icon:hover{
  background: rgb(235, 235, 235);
  border-radius: 50%;
}
.youtube-apps-icon {
  height: 24px;
 padding: 8px;
}
.notification-icon:hover{
  background: rgb(235, 235, 235);
  border-radius: 50%;
}
.notification-icon {
  height: 24px;
  padding: 8px;
}
.notification-icon-container{
  position: relative;
}
.notifications-counts {
  position: absolute;
  top: 4px;
  right: 4px;
  background: rgb(200, 0, 0);
  color: white;
  font-size: 11px;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
  border-radius: 10px;
}
.current-user-picture {
  height: 32px;
  border-radius: 16px;
}
.search-icon-button, .voice-icon-button, .youtube-logo,
.hamburger-menu, .notification-icon, .header-picture,
.upload-icon, .current-user-picture {
  cursor: pointer;

}
.voice-icon-butto:hover,.upload-icon:hover,
.hamburger-menu:hover, .notification-icon:hover {
  opacity: .5;
  border-radius: solid 50%;
}

.notification_check_container {
  border: solid 2px;
}


.notification_check_text {
  margin: 0 auto;
}

.notification_check_header {
  display: flex;
    align-items: center;;
    flex-direction: row;
    justify-content: space-between;
}











