.side-bar {
  position: fixed;
  display: flex;
  width: 65px;
  margin-left: 13px;
  left: 0;
  bottom: 0;
  top: 53px;
  background: white;
  color: black;
  border-right: 1px solid rgb(238, 238, 238);
  z-index: 200px;
}
.home-icon:hover{
  background: rgb(235, 235, 235);
  border-radius: 10px;
}
.home-icon{
  display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
  margin-bottom: 10px;
  margin-top: 10px;
  padding: 16px 0 14px;
  cursor: pointer;
}
.youtube-home-icon {
  height: 28px;
  display: flex;
}
.home-icon-text {
  margin-top: 8px;
  font-size: 10px;
}
.shorts-icon:hover {
  background: rgb(235, 235, 235);
  border-radius: 10px;
}
.shorts-icon{
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 16px 0 14px;
  cursor: pointer;
}
.youtube-shorts-icon {
  height: 26px;
}
.shorts-icon-text{
 margin-top: 8px;
 font-family: Roboto, Arial;
 font-size: 10px;
}
.subscribtion-icon:hover{
  background: rgb(235, 235, 235);
  border-radius: 10px;
}
.subscribtion-icon {
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 16px 0 14px;
  cursor: pointer;
}
.youtube-subscribtion-icon {
  height: 28px;
}
.subscribtion-icon-text {
  margin-top: 8px;
  font-family: Roboto, Arial;
  font-size: 10px;
}
.library-icon:hover{
  background: rgb(235, 235, 235);
  border-radius: 10px;
}
.library-icon{
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 16px 0 14px;
  cursor: pointer;
}
.library-icon-text{
  margin-top: 8px;
  font-family: Roboto, Arial;
  font-size: 10px;
}
.youtube-library-icon{
  height: 28px;
}



















.
